# IntelliJ
*.iml
.idea/**

# Eclipse
.project

# Build
target

# macOS
.DS_Store

# Code style
!.idea/watcherTasks.xml
!.idea/scopes/Java_code_files.xml

# Test variables
.env

# Maven Central artifacts
.flattened-pom.xml